# Lines inside codes to exclude from coverage.
[report]
exclude_lines =
    pragma: no cover
    if "forcebalance" in __name__
    except ImportError
    logger.warning
    logger.error
    logger.info
    raise RuntimeError
