# Lines inside codes to exclude from coverage.
[report]
omit =
    geometric/PDB.py
    geometric/_version.py
    geometric/tests/*
    
exclude_lines =
    pragma: no cover
    if "forcebalance" in __name__
    except ImportError
    logger.warning
    logger.error
    logger.info
    raise RuntimeError
    verbose:
    if verbose >=
    if params.verbose >=
    HaveGZ
    HaveBZ2
