# Lines inside codes to exclude from coverage.
[report]
omit =
    geometric/PDB.py
    geometric/_version.py
    geometric/tests/*
    
exclude_lines =
    pragma: no cover
    if "forcebalance" in __name__
    logger.warning
    logger.error
    logger.info
    except ImportError
    except np.linalg.LinAlgError
    raise NotImplementedError
    raise RuntimeError
    raise .*EngineError
    raise NEBChainRespaceError
    raise NEBStructureError
    raise NEBBandGradientError
    raise IRCError
    def visualize
    verbose:
    if verbose >=
    if params.verbose >=
    lp_dump
    lp_load
    main()
    engine_str == 'gmx'
    if False
    if self.viz_rotations
    if self.ForceRebuild:
